// FontFace
@font-face {
  font-family: "Source Han Sans CN Regular";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Source Han Sans CN Regular.ttf") format("truetype"),
  url("assets/fonts/Source Han Sans CN Regular.woff") format("woff"),
  url("assets/fonts/Source Han Sans CN Regular.woff2") format("woff2")
}

@font-face {
  font-family: "Source Han Sans CN Medium";
  font-style: normal;
  font-weight: bold;
  src: url("assets/fonts/SourceHanSansCN-Medium-Alphabetic.ttf") format("truetype"),
  url("assets/fonts/SourceHanSansCN-Medium-Alphabetic.woff") format("woff"),
  url("assets/fonts/SourceHanSansCN-Medium-Alphabetic.woff2") format("woff2")
}
